# Задание 1
Дана переменная, в которой хранится слово из латинских букв. Напишите код, который выводит на экран:

среднюю букву, если число букв в слове нечетное;
две средних буквы, если число букв четное.

In [8]:
word = input()
#print(len(word)%2)
if len(word)%2 == 1:
    index = (len(word) - 1)/2 + 1 
    #print(index)
    #print(type(index -1))
    print(word[int(index -1)])
else:
    index = int(len(word)/2) -1
    print(word[index], word[index+1])

солово
л о

# Задание 2
Напишите программу, которая последовательно запрашивает у пользователя числа (по одному за раз) и после первого нуля выводит сумму всех ранее введенных чисел.
Примеры работы программы:

Введите число:
1

Введите число:
4

Введите число:
6

Введите число:
0
Результат:
11

Введите число:
0
Результат:
0

In [ ]:
n=1
sum=0
while n:
    n = int(input())
    sum += n
print(sum)

# Задание 3
Мы делаем MVP dating-сервиса, и у нас есть список парней и девушек.
Выдвигаем гипотезу: лучшие рекомендации мы получим, если просто отсортируем имена по алфавиту и познакомим людей с одинаковыми индексами после сортировки! Но мы не будем никого знакомить, если кто-то может остаться без пары:

Примеры работы программы:

boys = [‘Peter’, ‘Alex’, ‘John’, ‘Arthur’, ‘Richard’]
girls = [‘Kate’, ‘Liza’, ‘Kira’, ‘Emma’, ‘Trisha’]
Результат:

Идеальные пары:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha
boys = [‘Peter’, ‘Alex’, ‘John’, ‘Arthur’, ‘Richard’, ‘Michael’]
girls = [‘Kate’, ‘Liza’, ‘Kira’, ‘Emma’, ‘Trisha’]
Результат:
Внимание, кто-то может остаться без пары!

In [29]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    alll = zip(boys, girls)
    for company in alll:
        print(f"{company[0]} и {company[1]}")
else:
 
    print("Кто то может остаться без пары")

Идеальная пара:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

# Задание 4
У нас есть список, содержащий информацию о среднедневной температуре в Фаренгейтах за произвольный период по странам (структура данных в примере). Необходимо написать код, который рассчитает среднюю температуру за период в Цельсиях(!) для каждой страны.

Пример работы программы:

countries_temperature = [
[‘Thailand’, [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
[‘Germany’, [57.2, 55.4, 59, 59, 53.6]],
[‘Russia’, [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
[‘Poland’, [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
Результат:

Средняя температура в странах:
Thailand - 23.9 С
Germany - 13.8 С
Russia - 3.7 С
Poland - 12.0 С

Для перевода температуры из шкалы Фаренгейта в шкалу Цельсия нужно от исходного числа отнять 32 и умножить результат на 5/9.
°C = (°F - 32)* 5/9 [или 0.(5) в десятитчных дробях - пять в периоде десятых]

In [30]:
countries_temperature = [
[‘Thailand’, [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
[‘Germany’, [57.2, 55.4, 59, 59, 53.6]],
[‘Russia’, [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
[‘Poland’, [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
sum

SyntaxError: invalid character in identifier (<ipython-input-30-3097606725fa>, line 2)