*** Даны два целых числа A и B (при этом A ≤ B). Выведите все числа от A до B включительно.

In [3]:
a = int(input())
b = int(input())
for i in range(a,b+1):
    print(i, sep = '')

1
10
1
2
3
4
5
6
7
8
9
10

Создаем функцию

In [2]:
def squre(n1,n2):
    """ это моя первая функция, которая возводит число в любую стпень """
    result = n1 ** n2
    return result

squre (11, 8)

214358881

In [3]:
?squre